* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

body {
    background: #000;
    background-image: url("images/chi_splash_2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    overflow: hidden;
}

#wip_text-title {
    color: white;
    opacity: 1.0;
    text-align: center;
    font-size: 6em;
}

#wip_text-main {
    color: white;
    opacity: 1.0;
    text-align: center;
    font-size: 1em;
}

#social_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1.0;
    padding-top: 0px;
}

.social_image {
    width: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

#content {
    width: 420px;
    margin: auto;
    margin-top: 350px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.85);
}

#content:after {
    opacity: 0.2;
}
